body {
    margin-top: 0;
    text-align: center;
    font-family: "Merriweather", serif;
}

.myPhoto{
    border-radius: 100%;
    width: 500px;
}
h1 {
    font-size: 5.625rem; /*1 em is 16pxs */
    color: #66BFBF;
    margin: 50px auto 0 auto;
    font-family: "Sacramento", cursive;
    line-height: 2;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}
h3 {
    color: #11999E;
    font-family: "Montserrat", sans-serif;
}
.topContainer {
    background-color: #E4F9F5;
    font-weight: strong;
    position: relative;
    padding-top: 100px;
    
}

.footer-link{
    color: #E4F9F5;
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
}

.middle-container {
}

.bottom-container {
    padding-top: 80px;
    background-color: #66BFBF;
    height: 100px;
}


.bottomCloud{
    position: absolute;  
    left: 300px;
    bottom: 300px; 
}

.topCloud {
    position: absolute; 
    right: 300px;
    top: 50px;
}

.skill-row{
    text-align: left;
    line-height: 2;
    width: 50%;
    margin: 100px auto;

}

.quran-img{
    width: 23%;
    float: left;
    margin-right: 30px;
}

.shake-img{
    float: right;
    width: 20%;
    margin-left: 30px;
}

.linkSpacer{
    padding: 0px 10px;
}

.copyright{
    color: #EAF6F6;
}

hr{
    padding: 500px auto;
    border-style : none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    border-spacing: 50px;
    width: 5%;
}

.epicText{
    padding-bottom: 40px;
}

.contact-me {
    margin-bottom: 100px;
}

.BUTTON_BVH {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Brush Script MT;
    font-size: 40px;
    font-weight: 100;
    padding: 40px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .BUTTON_BVH:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

 .greatness{
     margin-bottom: 80px;
 }